:root {
  --navy: #002147;
}
header {
  background-color: var(--navy);
  min-height: 75px;
  border-bottom: 2px solid var(--navy);
}
.logo {
  font-size: 210%;
  color: white;
  padding: 2%;
}
.logo::before {
  content: "🎹 ";
}
nav {
  text-align: right;
  padding: 1%;
  border-bottom: 2px solid var(--navy);
}

nav ul li {
  display: inline-block;
  margin-left: 2%;
  padding: 0.5%;
  border: 1px dashed var(--navy);
  border-radius: 5px;
}
main {
  min-height: 900px;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  font-size: 200%;
  text-align: center;
  margin-top: 5%;
  color: var(--navy);
  padding-bottom: 2%;
  text-decoration: underline;
}
.link:hover {
  border: 2px dashed var(--navy);
}
.linked {
  text-decoration: underline;
  color: var(--navy);
}
.linked:visited {
  color: var(--navy);
  text-decoration: underline;
}
.contact-name {
  font-size: 150%;
  margin: 3% auto;
  text-align: center;
}
.contact-info {
  display: flex;
  justify-content: space-evenly;
}
.contact {
  width: 300px;
}
.headshot {
  display: block;
  margin: 2% auto;
  width: 400px;
  object-fit: contain;
}
p {
  margin: 2%;
  line-height: 25px;
}
.timetable-heading {
  margin: 2%;
}
.learning-objectives {
  margin: 2%;
  line-height: 25px;
}
.performance-img {
  display: block;
  margin: 2% auto;
  width: 500px;
  object-fit: contain;
}
#fees-link {
  text-decoration: underline;
  color: navy;
}
table,
tr,
td {
  border: 1px solid black;
}
table {
  width: 90%;
  border-collapse: collapse;
  margin: 2%;
}
.row-1 {
  width: 20%;
  padding: 1%;
}
.row-2 {
  width: 60%;
  padding: 1%;
}
.row-2 ul li {
  list-style-type: disc;
  margin-left: 3%;
}
